body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/*************************************************
****************************************************
*************************************************/
/* Navegación */
header {
    /* width - ancho /// height-alto */
    width: 100%;
    height: 60px;
}

/* Acceder a nav a través de header */
header nav {
    display: flex;
    /* Justificar hacia la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section {
    /* width - ancho /// height-alto y el valor auto = altura automática*/
    width: 250px;
    height: auto;
    /* Eliminar puntitos */
    list-style:none;
    display: flex;
    /* Justificar al centro // de acorde al elemento */
    justify-content: center;
    /* Centrando verticalmente*/
    align-items:center;
}

a {
    text-decoration: none;
}
/* Anclas dentro del nav para agregar espacio */
nav .nav-right-section a{
    /* Color del texto */
    color: rgba(0,0,0,.87);
    margin-right: 20px;
}
/* Ícono del Menú */
nav .nav-right-section .menu{
    /* Ponemos imagen / vector */
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    /* Que la imagen esté contenida en el elemento más grande */
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

/* Imagen del usuarix */
nav .nav-right-section img{
    /* Redondeado de bordes */
    border-radius: 100%;
    width: 35px;
    margin-left: 20px
}

/*************************************************
****************************************************
*************************************************/
/* Main */

main {
    margin-top: 150px;
    /* Centrar elementos */
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin-bottom: 40px;
    /* Vertical // Horizontal */
    /* Centrado absoluto gracias a los márgnes automáticos */
    margin: 0 auto;
}

main .main-logo img {
    height: 120px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

main .main-input-container {
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
}

main .main-input input {
    height: 35px;
    border: none;
    /* outline - quitar contorno al accionar click */
    outline: none;
    width: 450px;
}
/* Efecto hover (sombra) al poner el mouse sin accionar */
main .main-input-container:hover {
    border-color: #dfe1e500;
    /*  0 -> desplazamiento horizontal //
        1px -> desplazamiento vertical //
        6px -> desenfoque //
        0 -> expansión de la sombra    */
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-position: center;
    /* Propiedad para que no se repita */
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 10px;
    margin-right: 10px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 14px;
    height: 14px;
    padding-left: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

main .main-input .cam-icon {
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6%;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    /* inline // inline block los pone en una sola linea */
    display: inline-block;
}
main .main-buttons button {
    border:0;
    height: 36px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 1px 0 #20212447;
    border: 1px solid #dadce0;
    color:#202124;
}

/*************************************************
****************************************************
*************************************************/
/* FOOTER */

footer{
    background-color: rgba(241, 243, 241, 0.627); /*#f8f9fa*/
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(25, 24, 24, 0.6);
    font-size: 13.5px;
}

footer p{
    width: auto;
    height: auto;
    align-items: end;
    margin-left: 3.1%;
}

footer nav{
    border: 1px solid #dadce0;
    display: flex;
}

nav li{
    margin-right: 4.0%;
}

nav a{
    color: rgba(25, 24, 24, 0.7);
    font-size: 13.5px;
}

nav a:hover{
    text-decoration: underline;
}

footer nav .footer-nav-left{
    flex: 1;
    flex-basis: 45%;
	flex-grow: 0;
	flex-shrink: 0;
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
}

footer nav .footer-nav-right{
    flex: 2;
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}